.ingredient1{
  background-color: #f5deb3;
  width: 80%;
  padding: 5%;
  border-radius: 15px;
  
  
}
  
body{
  background-color:  #008b8b;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;

}
.ingredient2{
  background-color: #f5deb3;
  padding: 10%;
  margin: 1%;
  border-radius: 15px;
}
.ingredient3{
  background-color: #f5deb3;
  padding: 15%;
  margin: 1%;
  border-radius: 15px;
}
div{
    background-color: #f5deb3;
  padding: 15%;
  margin: 1%;
  border-radius: 15px;
  
}
button{
  border: none;
  border-radius: 5px;
  color: hsla(0, 0%, 100%, 0.71);
  background-color: #f4c542;
  padding: 10px 18px;
  transition: box-shadow 0.15s,
  background-color 0.15s;
  cursor: pointer;
}
button:hover{
  box-shadow: -5px 5px 10px black;
  background-color: #d4a120;
}
.but{
  text-align: center;
}
.bod{
  text-align: center;
}